################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/SUP/C#/TP9/EpitaSpaceProgram/.vs/EpitaSpaceProgram/v15/Server/sqlite3/db.lock
/SUP/C#/TP11/TinyBistro/.vs/TinyBistro/v15/Server/sqlite3/db.lock
/SUP/C#/TP12/TPCS12/.vs/TPCS12/v15/Server/sqlite3/db.lock
/SUP/C#/TP13/TP13/Rednit/.vs/Rednit/v15/Server/sqlite3/db.lock
